@model ParkingApp.Models.ParkingVehicle

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ParkingVehicle</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Plate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Plate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FleetOrVisitor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FleetOrVisitor)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
